<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Index</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/index.css">
</head>

<body>
    <!-- navigasi bar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img class="navbar-logo" src="../assets/image/dumbways.png" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/addproject">ADD Project</a>
            </ul>
            <a href="/contact" class="btn btn-dark btn-lg p-2 fs-6">Contact Me</a>
          </div>
        </div>
      </nav>
    
      <!-- Kontent -->
      <div class="p-3 mb-2 text-emphasis-dark">
        <div class="d-flex justify-content-center" style="max-width: 1000;">
            <div class="card p-1 container my-5 shadow-lg" style="max-width: 1000px;">
                <div class="row g-0 p-5 gap-4">
                    <div class="col-md-7 gap-4">
                        <!-- kontain isi -->
                        <div class="card-body pb-5">
                            <p class="card-title fs-3">Hello Welcome to my Hut<p>
                            <p class="card-text ">Perkenalkan, nama saya Muhamad Sahal Mubarok lahir di Bogor 15 November 2001, 
                                                saya tinggal di Kp. Curug RT. 03 RW. 03 Kelurahan Pakansari Kecamatan Cibinong Kabupaten Bogor, 
                                                Kesibukan saya hanya rebahan dirumah hihi, semoga dengan ikutnya bootcamp ini, saya dapat berkembang 
                                                dan tercapai tujuan utama yaitu bekerja dibidang IT.</p>
                        </div>
                        <!-- button contact dan download -->
                        <div class="d-flex gap-4 pb-5">
                            <button type="button" class="btn btn-dark rounded-pill" >Contact</button>
                            <a href="../views/bootstrap-contact.html" download class="text-dark text-decoration-none"> download CV
                                <img class="cd2-icon" style="width: 20px; height: 20px;" src="../assets/icon/icondownload.png" alt="icon download">
                            </a>
                        </div>

                        <!-- icon -->
                        <div class="d-flex gap-4 m-3" id="btn-icon">
                            <a href=""><i class="fa-brands fa-linkedin fa-2xl"></i></a>
                            <a href="https://instagram.com/sahal.mubarok?igshid=MzMyNGUyNmU2YQ=="><i class="fa-brands fa-instagram fa-2xl"></i></a>
                            <a href="https://www.facebook.com/Muhammadsahalmubarok?mibextid=rS40aB7S9Ucbxw6v"><i class="fa-brands fa-facebook fa-2xl"></i></a>
                            <a href="https://x.com/SahalMubarokk?t=wraf-NsqgZ7lKu8z6DOsvw&s=09 "><i class="fa-brands fa-twitter fa-2xl"></i></a>
                        </div>
                    </div>

                    <!-- konten kanan -->
                    <!-- foto dan nama -->
                    <div class="card col-md-4 shadow-lg rounded">
                        <img src="../assets/image/sahall.jpg" class="" alt="foto sahal">
                        <div class="card-body">
                            <h5 class="card-title text-center">Muhamad Sahal Mubarok</h5>
                            <p class="card-text text-center">Fullstack Developer</p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="../assets/js/bootstrap.bundle.min.js"></script>

</html>